.navbar-logo {
  background-size: 100%;
  color: transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  height: 78px;
}


.navbar {
  background-color: transparent;
  backdrop-filter: blur(100px);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
  position: fixed;
  z-index: 999;
  min-width: 100%;
  padding: 2%;
}

.navbar__item {
  display: flex;
  max-width: 100px;
  align-items: center;
  text-decoration: none;
  height: 100%;
  background-size: 100%;
  color: black;
  border-bottom: 3px solid transparent;
}

.navbar__item:hover {
  color: rgba(214,37,37,255);
  border-bottom: 3px solid rgba(214,37,37,255);
}

.navbar__dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  margin-left: -95%;
  color: red;
}

.navbar__dropdown-item {
background-color: rgba(255, 255, 255, 0.24);
color: black;
padding: 8px 16px;
text-decoration: none;
}

.navbar__dropdown-item:hover {
color: red;
}