.blog-section {
  background-color: #F0F3F9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog {
  width: 100%;
}

.blog-title {
  width: 45%;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background: rgba(214, 37, 37, 255);
  color: #fefefe;
}

.blog-title:hover {
  background-color: #ddd;
}

.form-section {
  width: 45%;
  background-color: #fff;
  padding: 40px;
  margin: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btn-join {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  background: rgb(214, 37, 37);
  padding: 20px 60px;
  border-radius: 4px;
  transition: all 0.35s ease 0s;
  outline: none;
}

.post {
  font-size: 1.2rem;
  margin-bottom: 30px;

}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}