.blog-section {
  background-color: #F0F3F9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog {
  width: 100%;
}

.blog-title {
  width: 45%;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background: rgba(214, 37, 37, 255);
  color: #fefefe;
}

.blog-title:hover {
  background-color: #ddd;
}

.form-section {
  width: 45%;
  background-color: #fff;
  padding: 40px;
  margin: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-join {
  font-size: 1.2rem;
  background: #833ab4;
  background: rgba(214, 37, 37, 255);
  /* padding: 20px 60px; */
  border: none;
  border-radius: 10px;
  margin-top: 6.5rem;
  cursor: pointer;
  transition: all 0.35s;
  outline: none;
  right: 53px;
  transform: translate(0, -182%);
  /* position: absolute; */
  color: black;
  width: 160px;
}

.post {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}