.mainBsns {
  background-color: #fefefe;
}

.aboutUs {
  padding-left: 10px;
  padding-top: 60px;
  text-align: center;
  background-color:#F0F5F9;
  font-size: 2.5rem;
  font-family: 'Albert Sans', sans-serif;
  font-weight: bold;
  background-color: #fefefe;
}

.aboutUs::after {
  content: '';
  background-color: rgb(31, 0, 59);
  display: block;
  height: 1px;
  width: 72px;
  margin: 0.3px 42rem 0px;
}

.main__container_1 {
  display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 90%;
    z-index: 1;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 95px;
    background-color: #fefefe;
}

.main__img--container_1 {
  width: 596px;
  height: 361px;
}

.main__img--container_1 {
  width: 596px;
  height: 361px;
}

.main__img--card_1 {
  padding-left: 0px;
  margin-left: 100px;
  width: 596px;
  height: 361px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: blur(0.5px);
}

.main__img--card_1 img{
  padding-right: 2rem;
}

.main__content_1 {
  color: #111111;
  width: 100%;
  padding-right: 96px;
  padding-left: 75px;
}

.main__content_1 h1 {
  font-size: 2rem;
  line-height: 1.5;
  background: #ee0979;
  background: rgba(214,37,37,255);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-family: 'Albert Sans', sans-serif; 
  font-weight: bold;
}

.main__content_1 h2 {
  font-size: 1.25rem;
  background: #ff8177; 
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); 
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content_1 p {
  padding-bottom: 10px;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
  background: #111111;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Glacial Indifference', sans-serif;
  max-width: 90%;
}

.main__btn_1 {
  font-size: 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  background: rgb(214, 37, 37);
  padding: 20px 60px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  transition: all 0.35s ease 0s;
  outline: none;
}
.main__btn_1 a {
  position: relative;
  z-index: 2;
  color: #fefefe;
  text-decoration: none;
}

.main__btn_1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff8177;
  transition: all 0.35s;
  border-radius: 4px;
}
.main__btn_1:hover {
  color: #fefefe;
}
.main__btn_1:hover:after {
  width: 100%;
}