.mainBsns {
  background-color: #fefefe;
}

.aboutUs {
  padding-left: 10px;
  padding-top: 60px;
  text-align: center;
  background-color:#F0F5F9;
  font-size: 2.5rem;
  font-family: 'Albert Sans', sans-serif;
  font-weight: bold;
  background-color: #fefefe;
}

.aboutUs::after {
  content: '';
  background-color: rgb(31, 0, 59);
  display: block;
  height: 1px;
  width: 72px;
  margin: 0.3px 42rem 0px;
}

.main__container_1 {
  display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 90%;
    z-index: 1;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 95px;
    background-color: #fefefe;
}

.main__img--container_1 {
  width: 596px;
  height: 361px;
}

.main__img--container_1 {
  width: 596px;
  height: 361px;
}

.main__img--card_1 {
  padding-left: 0px;
  margin-left: 100px;
  width: 596px;
  height: 361px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: blur(0.5px);
}

<<<<<<< HEAD
.main__img--card_1 img{
  padding-right: 2rem;
}
=======
 .main__content_1 p {
   margin-top: 1rem;
   font-size: 18px;
   line-height: 1.8;
   
   background-size: 100%;
   /* -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent; */
   font-family: 'Glacial Indifference', sans-serif;
 }
>>>>>>> 89b4981deaed337ca75c68ca73e649720db64e2c

.main__content_1 {
  color: #111111;
  width: 100%;
  padding-right: 96px;
  padding-left: 75px;
}

.main__content_1 h1 {
  font-size: 2rem;
  line-height: 1.5;
  background: #ee0979;
  background: rgba(214,37,37,255);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-family: 'Albert Sans', sans-serif; 
  font-weight: bold;
}

.main__content_1 h2 {
  font-size: 1.25rem;
  background: #ff8177; 
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); 
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content_1 p {
  padding-bottom: 10px;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
  background: #111111;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Glacial Indifference', sans-serif;
  max-width: 90%;
}

.main__btn_1 {
  font-size: 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  background: rgb(214, 37, 37);
  padding: 20px 60px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  transition: all 0.35s ease 0s;
  outline: none;
}
.main__btn_1 a {
  position: relative;
  z-index: 2;
  color: #fefefe;
  text-decoration: none;
}

<<<<<<< HEAD
.main__btn_1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff8177;
  transition: all 0.35s;
  border-radius: 4px;
}
.main__btn_1:hover {
  color: #fefefe;
}
.main__btn_1:hover:after {
  width: 100%;
}
=======
 @media screen and (max-width: 1100px) {
   .main__container {
     display: grid;
     grid-template-columns: 1fr;
     align-items: center;
     justify-content: center;
     width: 100%;
     margin: 0 auto;
     height: 90%;
   }
 
   .main__img--container_1 {
     width: 596px;
     height: 361px;
   }
 
   .main__img--card {
     height: 425px;
     width: 425px;
   }
 
   .main__content {
     text-align: center;
     margin-bottom: 4rem;
   }
 
   .main__content h1 {
     font-size: 2.5rem;
     margin-top: 2rem;
     font-family: 'Albert Sans', sans-serif; 
     font-weight: bold;
   }
 
   .main__content h2 {
     font-size: 1rem;
   }
 
   .main__content p {
     margin-top: 1rem;
     font-size: 1.5rem;
   }
 }

 @media screen and (max-width: 480px) {
   .main__img--card {
     width: 250px;
     height: 250px;
   }
 
   .fa-users,
   .fa-layer-group {
     font-size: 4rem;
   }
 
   .main__content h1 {
     font-size: 2rem;
     margin-top: 3rem;
     font-family: 'Albert Sans', sans-serif; 
     font-weight: bold;
   }
   .main__content h2 {
     font-size: 2rem;
   }
 
   .main__content p {
     margin-top: 2rem;
   }
 
   .main__btn {
     padding: 12px 36px;
     margin: 2.5rem 0;
   }
 }

 /* .reveal {
   position: relative;
   transform: translateY(50px);
   opacity: 0;
   transition: all 1.5s ease;
 }
 
 .reveal.active {
   transform: translateY(0px);
   opacity: 1;
 } */
>>>>>>> 89b4981deaed337ca75c68ca73e649720db64e2c
