.block {
  margin: 0 auto;
  max-width: 800px;
}

.fitImg{
  margin-top: 90px;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
}

.h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text {
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
}

ol {
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
  padding-left: 40px;
}

ol li {
  margin-bottom: 20px;
}

br {
  line-height: 2.5;
}
