.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}


.heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.growth-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 40px;
}

.line-item-logo {
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: red;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.gym-growth-includes-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list {
  list-style: disc;
  margin-left: 30px;
  margin-top: 20px;
}


.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.growth-card {
  width: 50%;
  margin: 20px;
}

.growth-card-header {
  text-align: center;
}

.card:nth-child(2),
.card:nth-child(3) {
  border-top: 1px solid black;
}

.gym-growth-header-container {
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
}

.gym-growth-header {
  text-align: center;
  min-width: 300px;
  width: 30%;
  padding: 1%;
}

.gym-growth-body {
  text-align: center;
  line-height: 40px;
  min-width: 300px;
  width: 30%;
  padding: 1%;
}

.gym-growth-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
  height: 100%;
  width: 100%;

}

@media screen and (min-width: 1145px) {
  .growth-list {
    min-height: fit-content;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    margin: 25px;
  }

  .growth-list-item:nth-child(4) {
    border-right: none;
  }

  .growth-list-item:nth-child(8) {
    border-right: none;
  }

  .growth-list-item {
    text-align: center;
    width: 25%;
    height: 250px;
    padding: 30px;
    margin-bottom: 15px;
    border-right: 1px solid lightgray;
  }
}

@media screen and (max-width: 1144px) {
  .growth-list {
    min-height: 1000px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 25px;
  }

  .growth-list-item:nth-child(2) {
    border-right: none;
  }

  .growth-list-item:nth-child(4) {
    border-right: none;
  }

  .growth-list-item:nth-child(6) {
    border-right: none;
  }

  .growth-list-item:nth-child(8) {
    border-right: none;
  }

  .growth-list-item {
    text-align: center;
    width: 40%;
    height: 250px;
    margin-bottom: 15px;
    border-right: 1px solid lightgray;
  }
}