.card-container-staff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.staff-augmentation-header-container {
  margin-top: 90px;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
}

.augmentation-item-logo {
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: red;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 1145px) {
  .augmentation-list-group {
    min-height: 80em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding: 5%;
  }

  .augmentation-list-item {
    text-align: center;
    min-height: fit-content;
    min-width: 35%;
    max-width: 200px;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid lightgray;
  }

  .augmentation-list-item:nth-child(2) {
    border-right: none;
  }

  .augmentation-list-item:nth-child(4) {
    border-right: none;
  }
}

@media screen and (max-width: 1144px) {
  .augmentation-list-group {
    min-height: 120em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
  }

  .augmentation-list-item {
    text-align: center;
    min-height: 900px;
    margin-bottom: 100px;
    min-width: 40%;
    max-width: 500px;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 2px solid lightgray;
  }

  .augmentation-list-item:nth-child(2) {
    border-right: none;
  }

  .augmentation-list-item:nth-child(4) {
    border-right: none;
  }
}

.staff-augmentation-includes {
  width: 100%;
}

.augmentation-list-group {
  display: flex;
  justify-content: center;
}


.img-fluid {
  width: 100%;
}

.staffImg {
  width: 100%;
}

.staff-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
  height: 100%;
  width: 100%;

}

.staff-body {
  text-align: center;
  line-height: 40px;
  min-width: 300px;
  width: 100%;
  padding: 1%;
}

.staff-header {
  text-align: center;
  min-width: 300px;
  width: 30%;
  padding: 1%;
}

.staff-includes-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.staff-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 40px;
  padding: 50px;
  max-width: 50%;
}

ol li {
  margin-bottom: 20px;
  list-style: none;
}

br {
  line-height: 2.5;
}