.main__container_2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-content: center;
   height: 90%;
   z-index: 1;
   width: 100%;
   padding-left: 107px;
   padding-top: 120px;
 }

 .main__content_2 {
   color: black;
   width: 100%;
   padding-right: 96px;
 }

 .main__content_2 h1 {
   font-size: 40px;
   line-height: 1.5;
   background: #ee0979;
   background: -webkit-linear-gradient(to right, #ff8177, #fd1d1d);
   background: linear-gradient(to right, #ff8177, #fd1d1d);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   text-transform: uppercase;
   margin-bottom: 32px;
   font-family: 'Albert Sans', sans-serif; 
   font-weight: bold;
 }

 .main__content_2 h2 {
   font-size: 20px;
   color: #000000;
 }

 .main__content_2 p {
   margin-top: 1rem;
   font-size: 18px;
   line-height: 1.8;
   background: #000000;
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   font-family: 'Glacial Indifference', sans-serif;
 }

 .main__img--card_2 img {
   padding-left: 1rem;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem !important;
 }

 .main__img--card_2 {
   padding-left: 0px;
   margin: 0px;
   width: 596px;
   height: 361px;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }