.h1text {
  display: block;
  font-size: 5em;
  font-weight: 500;
  color: #3d535f;
  text-align: center;
  color: black;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.h3text {
  
  display: block;
  width: 100%;
  color: #d62525;
  font-size: 20px;
  font-family: "Glacial Indifference", sans-serif;
  letter-spacing: 4px;
  text-align: center;
    margin: 0;
  position: relative;
  z-index: 1;
}

.video {
    position: absolute;
    padding-top: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    overflow-clip-margin: content-box;
}

